PORT=3000
HOST=0.0.0.0

AUTH_DIR=./auth_info
DATA_DIR=./data

DEFAULT_COUNTRY=91

QR_TTL_MS=300000

LOG_LEVEL=info

RECONNECT_DELAY_MS=5000
MAX_RECONNECT_DELAY_MS=60000

IDLE_TIMEOUT_MS=300000

AUTO_REPLY_ENABLED=true

AUTO_REPLY_TEXT=Thanks for your message! 💬

Ripun is currently offline. He’ll reply as soon as possible. 😊
